@using Microsoft.SharePoint.Client
@model Microsoft.SharePoint.Client.ListItemCollection

@{
  ViewBag.Current = "SpFx Fields";
}

<h2 style="text-align: center; margin-top: 50px; color:darkblue">My Meetings </h2>
<table class="table table-hover bg-warning" style="margin-top: 50px">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Time</th>
    <th scope="col">Description</th>
    <th scope="col">Address</th>
    <th scope="col">Attending</th>
  </tr>
  </thead>
  <tbody>
  @try
  {
    foreach (var item in Model)
    {
      <tr>
          <td> @item["Title"]</td>
          <td> @item["Time"]</td>
          <td> @item["Description"]</td>
          <td> @item["Adress"]</td>
          <td> @item["Users"]</td>
      </tr>
    }
  }
  catch (Exception e)
  {
    <tr>
      <td><b style="color: orangered">@e.Message</b></td>
    </tr>
  }
  </tbody>

</table>



