@using Microsoft.SharePoint.Client
@model Microsoft.SharePoint.Client.ListItemCollection

@{
  ViewBag.Current = "SpFx Fields";
}

<h2>SpFx Fields ... </h2>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Date</th>
    <th scope="col">Time</th>
    <th scope="col">Description</th>
    <th scope="col">Address</th>
    <th scope="col">Attending</th>
  </tr>
  </thead>
  <tbody>
  @try
  {
    foreach (var item in Model)
    {
      <tr>
        <td> @item["Title"]</td>
        <td> @item["Date"]</td>
        <td> @item["Time"]</td>
        <td> @item["Description"]</td>
        <td> @item["Adress"]</td>
        @foreach (var name in (FieldUserValue[])item["Attending"])
        {
          <td> @name.LookupValue </td>
        }
      </tr>
    }
  }
  catch (Exception e)
  {
    <tr>
      <td><b style="color: orangered">@e.Message</b></td>
    </tr>
  }
  </tbody>

</table>



